@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Yuji+Mai&display=swap');

:root {
    --background-color: rgb(0,150,150,0.9);
    --dark-background-color: black;
    --especial-link:orangered;
    --hover-link:rgb(100,100,100);/*destaque do texto e hover em links*/
    --destaque:purple;
    --text:aliceblue;    
    --links-nav-bar: black;
}
    .container{
        /*border: 2px solid red !important;*/
        border-radius: 6px;
        max-width: 100%;
    }
    html {
        scroll-behavior: smooth;
    }
    *{
        transition: all 0.3s ease;
    }
    body {
        /*font-family: "Yuji Mai", serif;*/
        background-size: cover;
        background-repeat: repeat;
        transition: background-color 0.3s ease;
    }
    button{
        display: block;
    }
    #change-color{
        width: 70px !important;
        height: 60px !important;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }
    #change-color:hover{
        transition: 1s;
        background-color: var(--hover-link);
        width: 100px;
        height: 50px;
    }
    .nav-link{
        display: inline-block;
        color: var(--links-nav-bar) !important;
        border-radius: 15px;
        font-family: "Nunito", sans-serif !important;
        transition: color 0.3s ease;
    }
    .nav-link:hover {
        transition: 1s;
        background-color: var(--hover-link);
    }
    
    .navbar-brand{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: "Bangers", system-ui;
        font-style: normal;
        transition: color 0.3s ease;
    }
    body > main {
        background-color: var(--background-color);
        background-size: cover;
        padding: 0px;
        display: flex; 
        flex-direction: column; 
        transition: background-color 0.3s ease;
    }
    #main-div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap; 
    }
    
    .img-icon{
        margin: 5px;
        cursor: pointer;
        width: 130px;
        height: 125px;
        transition: transform 0.3s ease;/*border: double thick black;*/
    }
    .img-icon:hover{
        transition: 1s;
        cursor: pointer;
        transform: scale(1.1);
    }
    .img-eu{
        width: 200px;
        height: 350px;
    }
    .titulo{
        margin-top: 50px;
        /*fundo do texto*/
        background-color: var(--destaque);
        border-radius: 6px;
        font-size: 2rem;
        color:white;
        display: inline-block;
        transition: background-color 0.3s ease, color 0.3s ease;
        padding: 5px !important;
    }
    #text-main{
        border-radius: 6px;
        color: aliceblue;
        font-size: 4rem !important;
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    
    h2{
        font-size: 2rem;
    }
    p,ul{
        text-align: left;
        font-size: 1.1rem;
         transition: color 0.3s ease;
    }
    li{
        font-size: 1.3rem;
    }
    
    .text-apresentacao{
        border-radius: 6px;
        color: white;
        background-color: var(--hover-link);
        font-size: 1rem;
        padding: 0;
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    .change-color-text,.text-center{
        text-align: center;
        color: var(--text);
        font-size: 2rem;
    }
    #projects-main{
        margin-top: 200px;
        text-align: center;
    }
    .project-image{
        border-radius:60px ;
        padding: 20px;
        width: 350px !important;
        height: 350px !important;
    }
    h1, h2{
        font-size: 2rem !important;
    }
    h3{
        font-weight: bold;
    }
    .especial-link{
        color: var(--especial-link);
    }


@media (max-width: 767px) { 
/**/
    
    .img-icon{
        margin: 5px;
        cursor: pointer;
        width: 50px;
        height: 45px;
        transition: transform 0.3s ease;/*border: double thick black;*/
    }
    .project-image{
        border-radius:30px ;
        padding: 20px;
        width: 150px !important;
        height: 150px !important;
    }
    .change-color-text, .text-center{
        font-size: 1.4rem;
    }
    #text-main{
        color: aliceblue;
        font-size: 3rem !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px) { 
    .img-icon{
        margin: 5px;
        cursor: pointer;
        width: 85px;
        height: 80px;
        transition: transform 0.3s ease;/*border: double thick black;*/
    }
    .project-image{
        border-radius:30px ;
        padding: 20px;
        width: 150px !important;
        height: 150px !important;
    }
    .change-color-text, .text-center{
        font-size: 1.4rem;
    }
    #text-main{
        color: aliceblue;
        font-size: 3rem !important;
    }
}

@media (min-width: 1024px) { 
    /**/
}
