

@media (max-width: 767px) { 

}
@media (min-width: 768px) and (max-width: 1023px) { 
    
}

@media (min-width: 1024px) { 
    *{
        font-size: 1.3rem;
        font-family: "Nunito", sans-serif;
        padding-left: 20px;
        padding-right: 20px;
    }
    body {
        font-family: "Yuji Mai", serif;
        background-color: royalblue;
        background-size: cover;
        background-repeat: repeat;
    }
    body > main {
        /*background: linear-gradient(black, rgb(33, 32, 32), rgb(69, 108, 69),rgb(9, 67, 20));*/
        background-color: orange;
        margin: 20px;
        background-size: cover;
        border-radius: 10px;
        border: double gray 2px;
        display: flex; /* Adicionado */
        flex-direction: column; /* Adicionado */
    }
    #nav-bar{
        margin: auto;
        border-radius: 6px;
    }
    .nav-link{
        padding: 5px;
        color: black !important;
        border-radius: 15px;
    }
    #menu{
        text-align: left;
    }
    ol > a:hover{
        transition: 1s;
        font-size: 1.3rem;
    }
    
    .json-tag,.js-tag,.html-tag,.json-tag,.css-tag,.django-tag, .streamlit-tag{
        border-radius: 6px;
        color: whitesmoke;
        display: inline-block ;
        border: 2px solid black;
        cursor: pointer;
    }
    .json-tag:hover,.js-tag:hover,.html-tag:hover,.json-tag:hover,.css-tag:hover,.django-tag:hover, .streamlit-tag:hover{
        font-size: 1.3rem;
        transition: 0.5s;
    }
    .django-tag{
        background-color: rgb(50, 150, 28);
    }
    .html-tag{
        background-color: orangered;
    }
    .css-tag{
        background-color: royalblue;
    }
    .js-tag{
        background-color: gold;
    }
    .streamlit-tag{
        background-color: brown;
    }
    .json-tag{
        background-color: purple;
    }
    img{
        width: 400px;
        height: 300px;
        border-radius:20px ;
    }
    img:hover, iframe:hover{
        transition: 1s;
        width: 600px;
        height: 300px;
    }
    .text-project-info{
        display: none;
    }
}
