@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yuji+Mai&display=swap');
.title-project{
    text-align: center;
}

:root {
    --background-color: black;
    --color-text: white;
    --dark-background-color: black;
    --dark-color-text: white;
    --main-background: orange;
    --dark-main-background: black;
    --navbar-brand: black;
    --dark-navbar-brand: black;
    --title-color: white;
    --dark-title-color: purple;
    --text-color: aliceblue;
    --dark-text-color: white;
    --hover-color: black;
    --nav-link-color: #3C041A;
    --select-color: purple;
    --dark-select-color: black;
    --background-default: royalblue;

}
@media (max-width: 767px) {
    html {
        scroll-behavior: smooth;
    }
    * {
        font-size: 1rem;
        font-family: "Nunito", sans-serif;
    }

    body {
        font-family: "Yuji Mai", serif;
        background-color: var(--background-default);
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--color-text);
        transition: background-color 0.5s, color 0.5s;
    }

    body.dark-mode {
        background-color: var(--dark-background-color);
    }

    button {
        display: block;
    }

    #change-color {
        float: left;
        width: 55px !important;
        height: 50px !important;
        border-radius: 10px;
        transition: background-color 0.5s, color 0.5s;
    }
    
    #change-color:hover{
        transition: 1s;
        background-color: #333;
        width: 100px;
        height: 50px;
    }

    .navbar-nav {
        border-radius: 10px;
        display: flex !important;
    }

    .nav-link {
        padding: 5px;
        color: var(--nav-link-color) !important;
        border-radius: 15px;
        transition: color 0.5s;
    }

    .nav-link:hover {    
        transition: 1s;
        background-color: purple;
    }
        .navbar-brand {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
        color: var(--navbar-brand) !important;
        transition: color 0.5s;
    }

    body.dark-mode .navbar-brand {
        color: var(--dark-navbar-brand) !important;
    }

    body main {
        background-color: var(--main-background);
        background-size: cover;
        border-radius: 10px;
        border: double gray 2px;
        display: flex;
        flex-direction: column;
        transition: background-color 0.5s;
    }

    body.dark-mode main {
        background-color: black;
    }

    #container-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu-list {
        display: flex;
        gap: 20px;
        list-style-type: none;
        padding: 0;
    }

    #menu-list a {
        color: var(--color-text);
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }

    #menu-list a:hover {
        background-color: #555;
    }

    .title-change-color {
        background-color: var(--select-color);
        border-radius: 10px;
        color: white;
        padding: 10px;
        display: inline-block;
        transition: background-color 0.5s;
    }
    body.dark-mode .title-change-color {
         background-color: var(--select-color);
    }
    #contatos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #i{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #my-image {
        width: 220px;
        height: 220px;
        border-radius: 100%;
    }
    .text-change-color{
        color: white;
    }

    .focus{
        color: orangered;
    }


}
@media (min-width: 768px) and (max-width: 1023px) {
    html {
        scroll-behavior: smooth;
    }
    * {
        font-size: 1rem;
        font-family: "Nunito", sans-serif;
    }

    body {
        font-family: "Yuji Mai", serif;
        background-color: var(--background-default);
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--color-text);
        transition: background-color 0.5s, color 0.5s;
    }

    body.dark-mode {
        background-color: var(--dark-background-color);
    }

    button {
        display: block;
    }

    #change-color {
        float: left;
        width: 55px !important;
        height: 50px !important;
        border-radius: 10px;
        transition: background-color 0.5s, color 0.5s;
    }
    
    #change-color:hover{
        transition: 1s;
        background-color: #333;
        width: 100px;
        height: 50px;
    }

    .navbar-nav {
        border-radius: 10px;
        display: flex !important;
    }

    .nav-link {
        text-align: start;
        padding: 5px;
        color: var(--nav-link-color) !important;
        border-radius: 15px;
        transition: color 0.5s;
    }

    .nav-link:hover {
        transition: 1s;
        background-color: purple;
    }

    .navbar-brand {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
        color: var(--navbar-brand) !important;
        transition: color 0.5s;
    }

    body.dark-mode .navbar-brand {
        color: var(--dark-navbar-brand) !important;
    }

    body main {
        background-color: var(--main-background);
        background-size: cover;
        border-radius: 10px;
        border: double gray 2px;
        display: flex;
        flex-direction: column;
        transition: background-color 0.5s;
    }

    body.dark-mode main {
        background-color: black;
    }

    #container-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu-list {
        display: flex;
        gap: 20px;
        list-style-type: none;
        padding: 0;
    }

    #menu-list a {
        color: var(--color-text);
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }

    #menu-list a:hover {
        background-color: #555;
    }

    .title-change-color {
        background-color: var(--select-color);
        border-radius: 10px;
        color: white;
        padding: 10px;
        display: inline-block;
        transition: background-color 0.5s;
    }
    body.dark-mode .title-change-color {
         background-color: var(--select-color);
    }
    #contatos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #i{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #my-image {
        width: 260px;
        height: 260px;
        border-radius: 100%;
    }
    .text-change-color{
        color: white;
    }

    .focus{
        color: orangered;
    }


}

@media (min-width: 1024px) {
    html {
        scroll-behavior: smooth;
    }
    * {
        font-size: 1.2rem;
        font-family: "Nunito", sans-serif;
        padding-left: 30px;
        padding-right: 20px;
    }

    body {
        font-family: "Yuji Mai", serif;
        background-color: var(--background-default);
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--color-text);
        transition: background-color 0.5s, color 0.5s;
    }
    body > main {
        /*background: linear-gradient(black, rgb(33, 32, 32), rgb(69, 108, 69),rgb(9, 67, 20));*/
        background-color: orange;
        margin: 20px;
        background-size: cover;
        border-radius: 10px;
        border: double gray 2px;
        display: flex;
        /* Adicionado */
        flex-direction: column;
        /* Adicionado */
        transition: background-color 0.5s; /* Transição para o main */
        border: 2px solid white;
    }

    body.dark-mode {
        background-color: var(--dark-background-color);
    }

    button {
        display: block;
    }

    #change-color {
        float: left;
        width: 105px !important;
        height: 50px !important;
        border-radius: 10px;
        transition: background-color 0.5s, color 0.5s;
    }
    
    #change-color:hover{
        transition: 1s;
        background-color: #333;
        width: 100px;
        height: 50px;
    }

    .navbar-nav {
        border-radius: 10px;
        display: flex !important;
    }

    .nav-link {
        padding: 5px;
        color: var(--nav-link-color) !important;
        border-radius: 15px;
        transition: color 0.5s;
    }

    .nav-link:hover {
        transition: 1s;
        background-color: purple;
    }

    .navbar-brand {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
        color: var(--navbar-brand) !important;
        transition: color 0.5s;
    }

    body.dark-mode .navbar-brand {
        color: var(--dark-navbar-brand) !important;
    }

    body main {
        background-color: var(--main-background);
        background-size: cover;
        border-radius: 10px;
        border: double gray 2px;
        display: flex;
        flex-direction: column;
        transition: background-color 0.5s;
    }

    body.dark-mode main {
        background-color: black;
    }

    #container-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu-list {
        display: flex;
        gap: 20px;
        list-style-type: none;
        padding: 0;
    }

    #menu-list a {
        color: var(--color-text);
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }

    #menu-list a:hover {
        background-color: #555;
    }

    .title-change-color {
        background-color: var(--select-color);
        border-radius: 10px;
        color: white;
        padding: 10px;
        display: inline-block;
        transition: background-color 0.5s;
    }
    body.dark-mode .title-change-color {
         background-color: var(--select-color);
    }
    #contatos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #i{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #my-image {
        width: 325px;
        height: 260px;
        border-radius: 100%;
    }
    .text-change-color{
        color: white;
    }

    .focus{
        color: orangered;
    }


}