@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Yuji+Mai&display=swap');
@import "../../global/elements.css";
@import "../../global/fonts.css";
@import "../../global/variables.css";

html {
  scroll-behavior: smooth;
}


/* Variáveis de Cores para Modo Escuro */
body.dark-mode {
    --bg-color: #212529; /* Cor de fundo para dark mode */
    --text-color: #f8f9fa; /* Cor de texto para dark mode */
    --card-bg-color: #343a40; /* Cor de fundo dos cards para dark mode */
    --secondary-bg-color: #343a40;
}

/* Estilos gerais */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

main {
     background-color: var(--bg-color);
        transition: background-color 0.3s ease;
}

.container{
    background-color: var(--secondary-bg-color);
}

/* Cards */
.card {
  background-color: var(--card-bg-color);
  border: 1px solid black; /* Cor da borda do card */
    transition: background-color 0.3s ease;
}
/* Títulos */
.card-title {
     color: var(--text-color);
}
/* Textos */
.card-text,
#title-contatos,
.change-color-text {
  color: var(--text-color);
}
h2 {
     color: var(--text-color);
}

/* Estilos específicos para dark mode */
body.dark-mode .navbar-brand,
body.dark-mode .nav-link{
     color: var(--text-color) !important;
}
.container{
    max-width: 90%;
}
#title-contatos{
    font-size: var(--sub-title);
}
.change-color-text{
    font-size: var(--f-default);
}

/* Estilos para a imagem */
.project-image {
  cursor: pointer;
  transition: transform 0.3s ease; /* Adiciona transição suave */
}
.project-image:hover{
  transform: scale(1.05)
}
.modal-links{
  margin-top: 20px;
}

/* Estilos do Modal */
.modal-dialog {
max-width: 80%;
}

.modal-body img{
max-width: 100%;
}
/*tags*/
.tag{
  color: white;
  border-radius: 6px;
  /*box-shadow: black 1px 1px 1px;*/
  font-family: Tahoma, sans-serif;
  padding: 2px;
  
}
.tag:hover{
  transition: 1s;
  background-color: blueviolet !important;
  color: white;
}

.django{
  background-color: rgb(2, 98, 2);
}
.js{
  background-color: rgb(255, 255, 4);
  /*box-shadow: black 0.5px 0.5px 0.5px;*/
  color:black;
}
.json{
  background-color: darkviolet;
}
.json:hover{
  color: darkviolet;
  background-color: white !important;
}
.python{
  background-color: rgba(2, 35, 193, 0.8);
}
.html{
  background-color: orangered;
}
.css{
  background-color: rgba(0,100,250,1);
}
.st{
  background-color: rgb(255, 0, 0);
}
.tags_explain{
  max-width: 100%;
  align-content:space-around !important ;
}
#descricao_dj, #descricao_js, #descricao_json,#descricao_css,#descricao_py,#descricao_html{
  scroll-behavior: smooth;
  display: none;
  opacity: 9;
}
#contatos{
    max-width: 1000px;
    align-items: center;
    position: absolute; left: 50%; transform: translateX(-50%);
    padding: 0px 

}
#contatos a {
        padding: 5px;     
}

