@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Yuji+Mai&display=swap');
@import "../../global/elements.css";
@import "../../global/fonts.css";
@import "../../global/variables.css";

html {
    scroll-behavior: smooth;
}
/* Variáveis de Cores para Modo Claro (padrão) */
:root {
    --bg-color: #f8f9fa; /* Cor de fundo padrão */
    --text-color: #343a40; /* Cor de texto padrão */
    --secondary-bg-color: #ffffff;
}

/* Variáveis de Cores para Modo Escuro */
body.dark-mode {
    --bg-color: #212529; /* Cor de fundo para dark mode */
    --text-color: #f8f9fa; /* Cor de texto para dark mode */
      --secondary-bg-color: #343a40;
}


/*configs padrão*/
/*Largura da tela*/
.container {
    border-radius: 6px;
    max-width: 90%;
        background-color: var(--secondary-bg-color);
}
/*imagens*/
.img-icon:hover {
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
}
.project-image {
    border-radius: 40px;
    padding: 20px;
    max-width: 340px ;
    max-height: 200px ;
}
.img-icon:hover {
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
}
.img-icon {
    margin: 5px;
    cursor: pointer;
    width: 130px;
    height: 125px;
    transition: transform 0.3s ease;
}
.img-icon:hover {
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
}
.d-flex{
    text-align: center;
}
/*texto*/
.title-change-color{
    text-align: center;
    font-size: var(--title);
    cursor: pointer;
    color: var(--text-color);
}
.sub-title-change-color{
    font-size: var(--sub-title);
     color: var(--text-color);
}
.change-color-text{
    font-size: var(--f-default);
     color: var(--text-color);
}


/* Aplica a cor de fundo do body usando a variável */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    background-color: var(--bg-color);
        transition: background-color 0.3s ease;
}


/* Estilos específicos para dark mode */
body.dark-mode .navbar-brand,
body.dark-mode .nav-link,
body.dark-mode .titulo p{
    color: var(--text-color) !important;
}


/*celulares*/
@media (max-width: 767px) {
    /*largura total*/
    .container{
        max-width: 100%;
    }
    /*adaptações das imagens*/
    .img-icon {
        margin: 5px;
        cursor: pointer;
        width: 65px;
        height: 60px;
        transition: transform 0.3s ease;
    }
    .project-image {
        border-radius: 30px;
        padding: 20px;
        width: 220px ;
        height: 150px ;
    }
    /*texto*/
    .title-change-color{
        text-align: center;
        font-size: var(--m-title);
        cursor: pointer;
    }
    .sub-title-change-color{
        font-size: var(--m-sub-title);
    }
    .change-color-text{
        font-size: var(--f-default);
    }
}

/*telas medias*/

@media (min-width: 768px) and (max-width: 1024px) {
    .project-image {
        border-radius: 30px;
        padding: 20px;
        width: 220px ;
        height: 180px ;
    }
    .container{
        max-width: 100%;
    }
    /*texto*/
    .title-change-color{
        text-align: center;
        font-size: var(--m-title);
        cursor: pointer;
    }
    .sub-title-change-color{
        font-size: var(--m-sub-title);
    }
    .change-color-text{
        font-size: var(--f-default);
    }
}

/*-----------*/

.carousel-container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
.slider-image{
    border-radius: 6px;
}
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%; /* Faz as imagens ocuparem a largura do slide */
    height: auto; /* Mantém a proporção da imagem */
    flex-shrink: 0; /* Impede que as imagens encolham */
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.2);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

/* Responsividade */
@media (max-width: 600px) {
    .carousel-container {
        width: 95%; /* Adapta a largura do carrossel em telas menores */
    }
    .carousel-prev, .carousel-next {
        font-size: 20px; /* Ajusta o tamanho dos botões em telas menores */
    }
}