@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Yuji+Mai&display=swap');
@import "../../global/elements.css";
@import "../../global/fonts.css";
@import "../../global/variables.css";

html {
    scroll-behavior: smooth;
}


/*largura da tela*/
.container {
    max-width: 90%;
          background-color: var(--secondary-bg-color);
}

/*texto*/
.text-change-color {
    font-size: var(--f-default);
    color: var(--text-color);
}
.title-change-color {
    font-size: var(--title);
    color: var(--text-color);
}
.sub-title-change-color {
    font-size: var(--sub-title);
    text-align: center;
    color: var(--text-color);
}

/* Estilo do focus (sublinhado) */
.focus {
    background-color: var(--focus-bg-color);
    color: var(--focus-text-color);
    border-radius: 6px;
    font-size: var(--f-link);
}


/*imagem*/
#my-image{
    max-width: 300px;
    max-height: 300px;
    border-radius: 100%;
    
}
/* Estilos gerais */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
     background-color: var(--bg-color);
        transition: background-color 0.3s ease;
}

/* Estilos específicos para dark mode */
body.dark-mode .navbar-brand,
body.dark-mode .nav-link{
     color: var(--text-color) !important;
}
#container-menu{
    /*border: 2px solid  red;*/
    margin-top: 50px;
    max-width: 100px !important;
    max-height: 300px !important;
}
#container-menu a{
    color: black;
    text-align: center;
    border: 2px solid black ;
    display: block;
    border-radius: 10px;
    background-color: rgb(200,200,200);
}
#container-menu a:hover{
    color: black;
    transition: 0.3s !important;
    color: black !important;
    transform: scale(1.1);
    background-color: rgb(240,240,240)
}
#menu-list:hover{
    color:gray;
}
#myimage{
    border-radius: 10px;
  /*  background-color: rgb(200,200,200);
    max-height: 600px;
    max-width: 500px;*/
    
    left: 50%;
    transform: translateX(-50%);
}

.underline {
  text-decoration: underline;
}
/*Config para simular tag footer*/
#contatos{
    /*max-width: 1000px;*/
    display: inline-block;
    background-color: black;
    align-items: center;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    width: 100vw !important;
}
#contatos a {
    padding: 5px;     
}

