@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Yuji+Mai&display=swap');
@import "../../global/elements.css";
@import "../../global/fonts.css";
@import "../../global/variables.css";

html {
    scroll-behavior: smooth;
}


/*largura da tela*/
.container {
    max-width: 90%;
          background-color: var(--secondary-bg-color);
}

/*texto*/
.text-change-color {
    font-size: var(--f-default);
    color: var(--text-color);
}
.title-change-color {
    font-size: var(--title);
    color: var(--text-color);
}
.sub-title-change-color {
    font-size: var(--sub-title);
    text-align: center;
    color: var(--text-color);
}

/* Estilo do focus (sublinhado) */
.focus {
    background-color: var(--focus-bg-color);
    color: var(--focus-text-color);
    border-radius: 6px;
    font-size: var(--f-link);
}


/*imagem*/
#my-image{
    max-width: 300px;
    max-height: 300px;
    border-radius: 100%;
    
}
/* Estilos gerais */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
     background-color: var(--bg-color);
        transition: background-color 0.3s ease;
}

/* Estilos específicos para dark mode */
body.dark-mode .navbar-brand,
body.dark-mode .nav-link{
     color: var(--text-color) !important;
}
#menu-list:hover{
    color:gray;
}
#contatos{
    border-radius: 10px;
    background-color: rgb(200,200,200);
    max-height: 600px;
    max-width: 500px;
}

.underline {
  text-decoration: underline;
}