@import "../global/variables.css";
@import "../global/fonts.css";

/*---------Header------------*/
*{
    transition: 0.5s;
}
.nav-link{
    color: var(--nav-link) !important;
    font-size: var(--f-link);
}
.nav-link:hover{
    transition: 1s;
    color: var(--link-hover) !important;
}
.navbar-brand > strong{
    color: var(--nav-brand-color);
}
/*--navbrand não está mudando a cor com var()*/
.navbar{
    background: black !important;
}
.navbar-toggler-icon{
    background-color: var(--navbar-toggler-icon);
    border-radius: 6px;
}

/*botao de mudar de cor*/
#change-color {
    background-color: var(--change-color);
    width: 45px !important;
    height: 40px !important;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#change-color:hover {
    transition: 1s;
    background-color: var(--link-hover);
    width: 100px;
    height: 50px;
}
.especial-link{
    color: var(--especial-link) ;
    font-size: var(--f-link) !important;
    
}
.especial-link:hover{
    transition: 1s;
    color: var(--link-hover)!important;/*color: var(--link-hover) !important;*/
    text-decoration: none;
}

.btn-primary{
    background-color: var(--btn-primary);
    border-radius: 6px;
    border: var(--border-btn-primary);
}
.btn-primary:hover{
    transition: 1s;
    background-color: var(--btn-primary-hover);
}

