:root{
    /*foco:)*/
    --focus: orangered;
    /*links*/
    --f-link:1.4rem;
    /*computador*/
    --f1: clamp(1rem, 1vw, 1.2rem);
    --f-default: clamp(1.5rem, 1vw, 1.4rem);
    --title: clamp(3rem, 1vw, 3.2rem);
    --sub-title: clamp(2rem, 1vw, 2rem);
    /*celular*/
    --m-title: clamp(2.2rem, 1vw, 3.2rem);
    --m-sub-title: clamp(2rem, 1vw, 2rem);
    --m-f-default: clamp(1rem, 1vw, 1.4rem);
}